# Manifest syntax https://docs.python.org/2/distutils/sourcedist.html
graft wheelhouse

recursive-exclude __pycache__  *.pyc *.pyo *.orig

exclude *.js*
exclude *.git*
exclude *.coveragerc
exclude *.sh
exclude proc*
exclude pylint*

include requirements*.*
exclude requirements-dev.*
include *.py
include *.so

prune .git
prune venv
prune test*

# Include the README
include *.md

# Include the license file
include LICENSE
